.tuttorialWrapper {
  padding: 0 200px;
  margin: 162px 0 140px;
}
.video {
  width: 78%;
  height: 448px;
  margin-right: 0 24px 194px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25), 0 -5px 5px rgba(0, 0, 0, 0.25),
    5px 0 5px rgba(0, 0, 0, 0.25), -5px 0 5px rgba(0, 0, 0, 0.25);
}
.pridruziSe {
  width: 32%;
  min-width: 350px;
  height: 448px;
  margin-left: 24px;
  padding: 48px;
}
.t-title {
  width: 10%;
  height: 96px;
  margin-bottom: 72px;
}
.t-content {
  width: 80%;
  margin-bottom: 72px;
}
.t-link {
  height: 56px;
  border-radius: 100px;
  border: 2px solid white;
  padding: 10px 13px;
}
.t-link:hover {
  background-color: white;
  color: black;
}
